@model ZenithWebsite.Models.ZenithModels.Activity
?@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Create"];
    ViewData["ActivityTitle"] = _localizer["Activity Title"];
    ViewData["CreationDate"] = _localizer["Creation Date"];
    ViewData["Back"] = _localizer["Back to list"];
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Activity</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">@ViewData["ActivityTitle"]</label>
            <div class="col-md-10">
                <input asp-for="ActivityDescription" class="form-control" />
                <span asp-validation-for="ActivityDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@ViewData["CreationDate"]</label>
            <div class="col-md-10">
                <input asp-for="CreationDate" class="form-control" value="@DateTime.Now" readonly="readonly"/>
                <span asp-validation-for="CreationDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@ViewData["Title"]" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">@ViewData["Back"]</a>
</div>

